@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Red+Hat+Display:wght@300;400;500;700;800;900&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

#main {
  display: grid;
  grid-template-areas: 's1';
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#s1 {
  grid-area: s1;
}

#s1-container {
  display: grid;
  grid-template-areas: 'sc';
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#s1-content {
  grid-area: sc;
  display: grid;
  grid-template-areas: 'b1 b1 b2'
    'b1 b1 b5'
    'b3 b4 b5'
    'b3 b4 b5';
  grid-template-columns: auto 2fr 2fr;
  grid-template-rows: auto auto auto auto;
  gap: .9rem;
  padding: 15px;
}

#box1 {
  grid-area: b1;
  background-color: #f6f6f6;
  border-radius: 27px;
  display: grid;
  grid-template-areas: 'nav nav nav'
    'text text text'
    'av av av';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 2fr 1fr;

  #nav {
    grid-area: nav;
    padding: 15px;
  }

  .navbar {
    background-color: transparent !important;
  }

  .login {
    font-weight: 300;
    color: #808080;
    font-size: .9rem;
  }

  .brand {
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: 1.5px;
  }

  #text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    #title {
      font-size: 3.1rem;
      line-height: 1.5;
      font-weight: 400;
      padding: 10px;
    }

    #subtitle {
      font-size: 1.2rem;
      color: #808080;
      font-weight: 300;
      padding: 10px;
    }

    .btn {
      border-radius: 50px;
    }
  }

  #avatars {
    grid-area: av;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #avGroup {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}


#box2 {
  grid-area: b2;
  background-color: #eeeeee;
  border-radius: 27px;
  display: grid;
  grid-template-rows: 70vh;
}

#box3 {
  grid-area: b3;
  background-color: #1a1c1f;
  border-radius: 27px;
  display: grid;
  grid-template-rows: auto;
}

#box4 {
  grid-area: b4;
  background-color: #CAE4DB;
  border-radius: 27px;
  display: grid;
  grid-template-areas: 'quote stars';
  grid-template-columns: 1fr 2fr;
  display: grid;
  grid-template-rows: auto;

  #quote {
    grid-area: quote;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quote {
    height: 100%;
    line-height: 1.7;
    text-align: left;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 300;
    margin-left: 5px;
  }

  #number {
    font-size: 3rem;
  }

  #stars {
    grid-area: stars;
    display: flex;
  }

  #carousel {
    height: 100;
  }

}

#box5 {
  grid-area: b5;
  background-color: #eeeeee;
  border-radius: 27px;
  display: grid;
  grid-template-rows: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #s1-content {
    grid-area: sc;
    display: grid;
    grid-template-areas: 'b1 b1 b1 b1'
      'b3 b3 b2 b2'
      'b5 b5 b4 b4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    gap: .9rem;
    padding: 15px;
  }

  #box2 {
    grid-area: b2;
    background-color: #eeeeee;
    border-radius: 27px;
    display: grid;
    grid-template-rows: auto;
  }
}

@media (max-width: 767px) {

  #s1-content {
    grid-area: sc;
    display: grid;
    grid-template-areas: 'b1 b1 b1'
      'b1 b1 b1'
      'b3 b3 b3'
      'b2 b2 b2'
      'b4 b4 b4'
      'b5 b5 b5';
    grid-template-columns: auto 2fr 2fr;
    grid-template-rows: auto auto auto 50vh auto 60vh;
    gap: .9rem;
    padding: 15px;
  }

  #box2 {
    grid-area: b2;
    background-color: #eeeeee;
    border-radius: 27px;
    display: grid;
    grid-template-rows: auto;
  }

    #box4 {
      grid-area: b4;
      border-radius: 27px;
      padding: 10px;
      display: grid;
      grid-template-areas: 'quote' 
      'stars';
      grid-template-columns: 1fr;
      display: grid;
      grid-template-rows: auto;
    }
}